<form name="logform" class="auth" ng-submit="signInCtrl.openChat()">
	<h2>authorization</h2>
	<fieldset id="inputs">
		<input type="email" id="username" autofocus placeholder="name" required enter-click="openChat()" ng-model="signInCtrl.email">   
		<input type="password" id="password" placeholder="password" required enter-click="signInCtrl.openChat()" ng-model="signInCtrl.password">
	</fieldset>
	<div class="error">
		<span ng-show="signInCtrl.error">{{signInCtrl.error}}</span>
	</div>
	<fieldset id="actions">
		<input type="submit" id="submit" value="Sign in">
	</fieldset>
</form>