body {
    background: url(../img/bg2.png) repeat;
}



.article {
    background: url(../img/bg.png) repeat;
    border: 1px dotted #000;
    margin: 0 100px;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
}

.article button {
    float: right;
    margin-top: 20px;
}
.chat {
    width: 100%;
    height: 700px;
    background-color: #fff;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    border-radius: 10px;
}

.post_section {
    background-color: #fff;
    clear: both;
    position: relative;
    padding: 10px;
    margin: 40px 0;
    box-shadow: 0 0 10px;
}

.post_section img {
    min-height: 0;
    max-height: 350px;
}

.msg, .msg-active {
    width: 60%;
    border: 1px solid green;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 10px;
    
}
.msg {
    float: left;
    background-color: #EBF9B6;
}
.msg-active {
    float: right;
    background-color: #A5F8E6;
}
.msg>div:first-child {
    border-bottom: 1px dotted #000;
}

.author {
    margin-right: 10px;
    color: blue;
}
.time {
    font-size: 12px;
    display: inline-block;
    float: right;
}
.content {
    color: #2b1244;
}
/*-------------------*/

.auth {
    background-color: #fff;
    height: auto;
    width: 410px;
    margin: -250px 0 0 -230px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
}

.auth h2 {
    color: #4e5061;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 30px 0;
}

#inputs input {
    background-color: #f1f1f1;
    padding: 15px;
    margin: 0 0 10px 0;
    width: 353px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#inputs input: focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

#actions {
    margin: 25px 0 0 0;
}

#submit {       
    background-color: #ffb94b;
    background-image: linear-gradient(top, #fddb6f, #ffb94b);
    border-radius: 3px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
    border-width: 1px;
    border-style: solid;
    border-color: #d69e31 #e3a037 #d5982d #e3a037;
    float: left;
    height: 35px;
    padding: 0;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial, Helvetica;
    color: #8f5a0a;
}

#submit:hover, #submit:focus {       
    background-color: #fddb6f;
    background-image: linear-gradient(top, #ffb94b, #fddb6f);
}   

#submit:active {        
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;     
}

.error {
    text-align: center;
    color: red;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
    height: 30px;
    width: 100%;
}
